@import url("https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* variables */
/* :root {
    
    --primary2: #8dae97;
    --dark-primary2: #608c86;
    --dark-secondary2:#416a72;
    --header-bg-color2: #1e303b;
    --button-hover-bg-color2: #c3cea9;
    --link-color2: #ffecc5;
    --text-color2: #ffecc5;
} */
:root {

    /* color 2 */
    --primary2: #8dae97;
    --dark-primary2: #608c86;
    --dark-secondary2:#416a72;
    --header-bg-color2: #1e303bcd;
    --button-hover-bg-color2: #c3cea9;
    --link-color2: #ffecc5;
    --text-color2: #ffecc5;

    /* color 1 */
    --primary: #FFECC5;
    --dark-primary: #1D595E;
    --dark-secondary: #13474b;
    --button-hover-bg-color: #444;
    --link-color: #FFFFFF;
    --text-color: #FFFFFF;
    --primary-grayed:#ffecc5a2;
}
    /* --primary: #12bdff; */
    /* --primary: #82FF84; */
    /* --dark-primary: #1b1f24; */
    /* --dark-primary: #063806; */
    /* --text-color: #333; */
    /* --header-bg-color: #1b1f24; */


body {
    font-family: "Itim", sans-serif;
    color: var(--text-color);
    /* line-height: 1.5; */
    font-family: "Raleway", sans-serif;
    /* add vh */
    /* height: 100vh; */
    background-color: var(--dark-primary);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


header {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 70px;
    background-color: var(--dark-primary);
    padding: 20px;
    color: var(--link-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: ; */


}

header a {
    text-decoration: none;
    font-size:larger;
}

header li a {
    font-weight: bolder;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 8px;

    &:hover {
        /* margin: 1px; */
        background-color: var(--dark-secondary);
        color: var(--primary);
    }
}

.logo {
    text-decoration: none;
    color: var(--primary);
    letter-spacing: 25px;
    font-weight: bolder;
}

header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: var(--link-color);
}

header button {
    /* margin-bottom: ; */
    padding: 10px;
    font-weight: 700;
    border-radius: 7px;
    color: var(--primary);
    border: 1px var(--primary);
    background-color: var(--dark-primary);
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--primary);
        color: var(--dark-primary);
    }

}

/* Hi' I'm */
.wordings {
    margin-left: 70px;
}

/* Section: hero page */
section.hero-section {
    background-color: var(--dark-primary);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* flex-wrap: wrap; */
    /* height: 100vh; */
    padding: 20px 120px 0px 50px;
}

.hero-section-title {
    font-size: 37px;
    font-weight: 700;
}

.social-icons {

    margin: 20px 0;
}

ul.social-icons {
    list-style: none;
    display: flex;
}

.social-icons li>a {
    margin-right: 15px;
    /* text-decoration: none; */
    color: var(--link-color);

    /* margin-right: 20px; */
    &:hover {
        color: var(--primary);
    }
}

.social-icons a>i.fa-linkedin {
    &:hover {
        /* border-radius: 25px; */
        /* background-color:var(--link-color); */
        color: rgb(59 130 246);
        /* transition: background-color 0.3s; */
    }

}

.social-icons a>i.fa-github {
    &:hover {
        /* border-radius: 25px; */
        /* background-color:var(--link-color); */
        color: #333;
        /* transition: background-color 0.3s; */
    }

}

.social-icons a>i.fa-envelope {
    &:hover {
        /* border-radius: 25px; */
        /* background-color:var(--link-color); */
        color: #ae5959;
        /* transition: background-color 0.3s; */
    }

}

.social-icons a>i.fa-mobile-android-alt {
    &:hover {
        /* border-radius: 25px; */
        /* background-color:var(--link-color); */
        color: #000000;
        /* transition: background-color 0.3s; */
    }

}

.social-icons a>i.fa-whatsapp {
    &:hover {
        /* border-radius: 25px; */
        /* background-color:var(--link-color); */
        color: #28D146;
        /* transition: background-color 0.3s; */
    }

}
.btn{
    margin-bottom: 20px;
    padding: 5px;
}

.btn-primary {
    color: var(--primary);
    padding: 10px;
    border-style: none;
    border: 1px solid var(--primary);
    background-color: #1D595E;
    border-radius: 7px;
    margin-bottom: 5px;
    width: 100px;


    /* display: flex; */
    &:hover {
        background-color:var(--header-bg-color2);
        border: 1px solid var(--button-hover-bg-color2);
        color: var(--text-color);
    }
}

.btn-secondary {
    color: var(--primary);
    padding: 10px;
    border: 1px solid var(--header-bg-color2);
    box-shadow: var(--dark-primary);
    /* border: 1px solid var(--dark-primary); */
    background-color: var(--dark-primary);
    border-radius: 7px;

    /* display: flex; */
    &:hover {
        color: var(--dark-primary);
        background-color: var(--primary);
    }
}

.hero-img {
    margin-left: 170px;
    /* border-radius: 50%; */

    /* border: 5px solid var(--primary); */
    /* box-shadow: 0px 0px 10px .1px var(--primary); */
    /* border-radius: 25%; */
}

/* rounded image */

.rounded-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* Adjust the size as needed */
    height: 100px;
    /* Adjust the size as needed */
    border-radius: 50%;
    /* Makes the container a circle */
    overflow: hidden;
    /* Ensures the image fits within the rounded area */
    border: 2px solid #333;
    /* Optional: Adds a border around the circle */

}

.rounded-image {
    border-radius: 10%;
    box-shadow:inset 10px 0px 90px ;

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the entire container */
}

/* About me */
.about-section {
    background-color: var(--dark-secondary);
    /* color: var(--text-color); */
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}


.about-section-desc {
    /* color: var(--text-color); */
    margin-left: 100px;
}

.about-section img {
    /* background-color:initial-color; */
    height: 400px;
    width: 300px;
    border-radius: 50%;
    /* border: 1px solid var(--primary); */
    /* box-shadow: -15px 9px 30px rgba(128, 128, 128, 0.52); */
}

.about-section-desc p {
    font-size: 30px;
}

.about-section-desc ul {
    list-style: none;
    margin: 10px 0;

}

.about-section-desc li {
    /* padding-bottom: 10px; */

    /* separate the elements -- Use MARGIN*/
    margin-bottom: 8px;
    color: #ffecc5a2;
    /* margin: 10px; */
}

.about-section-desc li strong {
    color: var(--text-color);
    letter-spacing: 2px;
}

.about-section-desc p span {
    color: var(--primary);
    font-weight: bold;
    /* background-color: ; */
    /* border:px solid  var(--dark-secondary); */
}

.about-section-desc li a {
    color: var(--primary-grayed);
    text-decoration: none;

    &:hover {
        color: var(--primary);
        text-decoration: overline;
    }
}

/* ======== Work Section ========  */

.work-section{
    background-color: var(--dark-primary);
    color: #FFFFFF;
    padding: 60px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
}
.work-section-title{
    /* color: var(--text-color); */
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.work-section-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.work-section-box {
    background-color: var(--dark-secondary);
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    text-align:left;
    margin-bottom: 10px;
    &:hover{
        /* if we give border layout is slightly Blah Blah! */
        /* border: 1px solid var(--primary); */
        background-color:#1e303b94;
        /* color: var(--primary); */
        transition: background-color 0.3s, color 0.3s;
        transition: border-color 0.3s;

    }
    
}

.work-section-box-icon{
    /* color: var(--primary); */
    font-size: 30px;
    /* margin-bottom:0px; */
    background-color: var(--dark-primary);
    padding: 15px;
    border-radius: 50px;
    &:hover{
        background-color: var(--button-hover-bg-color2);
        color: var(--dark-primary);
    }
}

.project-desc h3{
    color: var(--text-color);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.project-desc p{
    color: var(--primary-grayed);
    font-size: 18px;
    margin-bottom: 15px;
}
.work-section-box .project-desc a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 8px;

}
